*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/bgPatternDesktop.svg);
    background-size: cover;
}
.Fpage{
    padding: 30px;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  
}

.Content{
    width:60%;
}

#companyname{
    margin-bottom: 50px;
}

.Content h1{
    letter-spacing:.5rem;
    width:70%;
    font-size: 4rem;
}

.Content span{
    color: salmon;
}

.Content p{
    color:salmon;
    line-height: 1.5rem;
    width:70%
}

#mobile{
    display: none;
}

.Fpage input{
    font-size: 1.3rem;
    width:350px;
    padding:10px;
    border-radius: 40px;
    position: absolute;
}

#mobile{
    width: 120px;
}

#butt1{
    background-color: salmon;
    padding: 10px;
    width: 70px;
    border-radius: 40px;
    margin-left: 300px ;
    position: relative;
    border: none;
    box-shadow: 0px 2px 1px 2px black;
}

.Fpage button:hover{
    transition: transform .55s ease-out;
    transform: scale(1.12);
    background-color:salmon;
    color: white;
}

.Pic{
    width: 50%;
}

.Pic img{
    width: 100%;
    height:100%;
}

@media screen and (max-width:800px) {
    .Fpage{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: center;
    }

    .Content h1{
        font-size: 3rem;
    }
    
    .Content p{
        width:250px
    }

    .Content input{
        width:250px;
        position:absolute;
    }

    #butt1{
        background-color: rgb(163, 34, 19);
        margin-left: 180px;
        position: relative;
    }
    #desk{
        display: none;
    }

    #mobile{
        display: flex;
        width:250px;
        height: 200px;
    }
}
